body{
    background-color: rgb(44, 44, 44);
}
header {
    font-family: 'Archivo';
    font-size: 80px;
    position: sticky;
    background-color: whitesmoke;
    padding: 25px;
}
footer{
    background-color: black;
    justify-items: stretch;

}
p1{
    font-size: 48px;
    font-weight: bolder;
}
p{
    color: #ffffff;   
}
h3
{
    color:#ffffff;
    
}

#icon
{

    font-size: 100px;
    color: white;
    position: initial;
    padding:10%;
    width:100%;
    transform-origin: center; -webkit-transform-origin: center; 

}
#icon:hover
{
    animation: iconclicked 250ms alternate 2;

}
#icon:active
{
    animation: iconactive 250ms forwards;
}
#icon:not(:active)
{
    animation: iconclicked 250ms forwards;
}

@keyframes iconhover
{
    from{text-shadow: 0px 0px 0px #ffffff;}
    to {text-shadow: 0px 0px 10px #ffffff;}
}

@keyframes iconclicked
{
    from{text-shadow: 0px 0px 50px #ffffff;}
    to{text-shadow: 0px 0px 0px #ffffff;}
}

@keyframes iconactive
{
    from{text-shadow: 0px 0px 0px #ffffff;}
    to{text-shadow: 0px 0px 50px #ffffff;}
}