body{
    background-color: rgb(44, 44, 44);
}
header {
    font-family: 'Archivo';
    font-size: 80px;
    position: sticky;
    background-color: whitesmoke;
    padding: 25px;
}
footer{
    background-color: black;
    justify-items: stretch;

}
p1{
    font-size: 48px;
    font-weight: bolder;
}
p{
    color: #ffffff;   
}
h3
{
    color:#ffffff;
    
}

#icon
{

    font-size: 100px;
    color: white;
    position: initial;
    padding:15%;
    width:100%;


}

#icon:hover
{
    animation: iconhover 250ms forwards;
}
#icon:active
{
    animation: iconactive 250ms forwards;
}
#icon:not(:active)
{
    animation: iconclicked 250ms forwards;
}



@keyframes iconhover
{
    0%  {transform:rotateZ(0);}
    25% {transform:rotateZ(15);}
    35% {transform:rotateZ(-15);}
    45% {transform:rotateZ(0);}
    100% {transform:rotateZ(0);}
}
@keyframes sectionhover
{
    0%{background-color: rgb(44, 44, 44); color:#ffffff;}
    25% {background-color: #ffffff; color: rgb(44, 44, 44);}
    100%{background-color: rgb(44, 44, 44); color:#ffffff;}
}

@keyframes iconclicked
{
    0%{text-shadow: 0px 0px 50px #ffffff;}
    100%{text-shadow: 0px 0px 0px #ffffff;}
}

@keyframes iconactive
{
    0%{text-shadow: 0px 0px 0px #ffffff;}
    100%{text-shadow: 0px 0px 50px #ffffff;}
}

@keyframes hide
{
    0% {opacity: 100; transform:translateX(0px); -webkit-transform:translateX(0px);}
    100% {opacity: 0; transform:translateX(350px);  -webkit-transform:translateX(-350px);}
}
@keyframes show
{
    0% {opacity: 0; transform:translateX(-350px);  -webkit-transform:translateX(-350px);}
    100% {opacity: 100; transform:translateX(0px); -webkit-transform:translateX(0px);}
}

.reveal.active{
    
    animation: show 1s forwards;
  }
  .reveal:not(.active){
    animation: hide 250ms forwards;
  }